{% extends 'gp/navbar.html' %}
{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/createacc.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<img src="{% static '/images/login.png' %}"style="width: 100%; height: 100%;" class="img" >
<div class="container">
    <input type="checkbox" id="check">
    <div class="login form" >
      
        <header>Sign Up </header>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="username">Username:</label>
            {{form.username}}
            <label for="Email">Email:</label>
            {{form.email}}
            <label for="password1">Password:</label>
            {{form.password1}}
            <label for="password1">Password:</label>
            {{form.password2}}
            <input type="submit" class="button" value="Sign Up">
        </form>
        <div class="signup">
          <span class="signup">Already have an account?
            <a href="{% url 'logino' %}">Login</a>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}