<!DOCTYPE html>
<html>
    {% extends 'gp/navbar.html' %}
    {% block head %}
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
    {% endblock %}
    {% block content %}
    <div class="container">
        <div class="input-container">
            <form method="post">
                {% csrf_token %}
                <div style="text-align:center;">
                    <br>
                   
                    <h2>Enter your function</h2>
                    <textarea id="function_input" name="function_input">{{ function_input }}</textarea>
                    <button type="submit">Generate</button>
                </div>
            </form>
        </div>
        {% if function_input %}

        <div class="output-container">
            <div style="text-align:center;">
            <h2>Generated Test Cases</h2>
            <pre id="output-text"></pre>
            <textarea readonly>{{ test_cases }}</textarea>
        </div>
        {% endif %}
    </div>
    {% endblock %}
</html>
