
{% extends 'gp/navbar.html' %}
{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homeS.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
    <div class="container">
        <div class="content" >

            <img src="{% static '/images/homep.png' %}"style="width: 100%; height: 100%;" class="shadow">

            <div>
                <a href="{% url 'up' %}">
                    <button type="button">
                      <span></span>START TESTING
                    </button>
                  </a>
                <a href="{% url 'lm' %}">
                  <button type="button">
                    <span></span>LEARN MORE
                  </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
