<html>
<head>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<div class="banner">
	<div class="navbar">
	<ul>
        <li><a href="{% url 'index' %}">Home</a></li>
	{% if user.is_authenticated %}
     <li> <a href="{% url 'signout' %}" class="btn btn-danger">Logout</a></li>
	 <li> <a href="{% url 'profile' %}" class="btn btn-danger">profile</a></li>
    {% else %}
	<li><a href="{% url 'signup' %}">Signup</a></li> 
	<li><a href="{% url 'login' %}"> Login</a></li>
    {% endif %}
      </ul>
</div>
</div>

	{% block head %}
	{% endblock %}

	{% block content %}
	{% endblock %}
</body>
</html>