<html>
<head>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<div class="banner">
	<div class="navbar">
	<ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'register' %}">Create Account</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
		<li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
</div>
</div>

	{% block head %}
	{% endblock %}

	{% block content %}
	{% endblock %}
</body>
</html>