
{% extends 'gp/navbar.html' %}
{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/userp.css' %}">
{% endblock %}

{% block content %}
<section class="about-us1">
    <div class="about">
      <div class="text">
        <div style="text-align:center;">
          <img src="{% static '/images/java logo.png' %}" style="width: 30%;;" />
        </div>
        <br>  
        <h4>Test your JAVA file</h4>
        <br> 
          <p>You can upload a java file to Auto Test to be tested using junit testing framwork </p>
        <div class="data">
        <a href="#" class="hire">Start Testing</a>
        </div>
      </div>
    </div>
  </section>
  <section class="about-us2"> 
    
    <div class="about">
       
      <div class="text">
        <div style="text-align:center;">
          <img src="{% static '/images/python logo@4x.png' %}" style="width:30%;" />
        </div>      
        <br>  
        <h4>Test your Python file</h4>
        <br> 
          <p>You can upload a python file to Auto Test to be tested using pytest testing framwork</p>
          <p>  </p>
        <div class="data">
        <a href="#" class="hire">Start Testing</a>
        </div>
      </div>
    </div>
  </section>
  <section class="about-us3">
    <div class="about">
      <div class="text">
        <div style="text-align:center;">
          <br> 
          <br>
          <br>
          <img src="{% static '/images/gptj.png' %}" style="width:30%;" />
        </div>
          <br> 
         
           
        <h4>write you own code </h4>
        <br> 
          <p>with the use of GPT-3.5 you can write any code with any language and choose the testing framwork you want </p>
          
        <div class="data">
           <br>
           
           <a href="{% url 'chat' %}" class="hire">Start Testing</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

