body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.input-container {
  flex-basis: 45%;
  font-weight: normal;

}

.input-container h2{
  flex-basis: 45%;
  font-weight: normal;

}

.output-container {
  flex-basis: 45%;
}

form {
  margin-bottom: 20px;
}

textarea {
  height: 400px;
  width: 100%;
  resize: none;
  overflow-y: scroll;
  border-radius: 10px;
  border: 2px solid #c5c3c3;
  font-size: 16px;
  line-height: 1.5em;
  
}

button[type=submit] {
  font-size: 18px;
  background: #009579;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 45px;
  border-radius: 6px;
  transition: 0.5s;
  align-items: center;
}

button[type=submit]:hover {
  background-color: #c5c3c3;
}
.h2{
  font-weight: normal;
}

.output-container {
  padding: 20px;
}

.output-container h2 {
  margin-top: 0;
  font-weight: normal;

}

.output-container pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#function_input {
  height: 400px;
  width: 100%;
  resize: none;
  overflow-y: scroll;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5em;
}
