*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us1{
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(60%,-50%);
  max-width: 400px;
  width: 100%;
  padding: 30px 0;
  background: #ddd;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.about-us2{
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 400px;
  width: 100%;
  padding: 30px 0;
  background: #ddd;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.about-us3{
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-160%,-50%);
  max-width: 400px;
  width: 100%;
  padding: 29px 0;
  background: #ddd;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.pic{
  height: 80%;
  width:  10%;
}
.pic2{
  height: 50%;
  width:  10%;
}
.about{
  width: 1130px;
  max-width: 85%;
  left: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
  text-align: center;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
  align-items: center;
}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #009579;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 45px;
  border-radius: 6px;
  transition: 0.5s;
  align-items: center;
  
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}